<a href="https://colab.research.google.com/github/TamannaSwarna140/Python-Part-01/blob/main/Assignment_(Basic_Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Practice Problems

### 1. Find the Largest of Two Numbers
**Task:** Given two numbers, find the larger one.  
**Demo Input:**  5 and 6 <br>
**Output:** 6

In [ ]:
a = input("Enter 1st Number: ")
b = input("Enter 2nd Number: ")

if a>b:
  print("The Larger One is ",a)
else:
  print("The Larger One is ",b)

Enter 1st Number: 5
Enter 2nd Number: 6
The Larger One is  6

### 2. Print Numbers from 1 to N
**Task**: Given a number `n`, print all numbers from 1 to `n`. <br>
**Demo Input**: `5`  <br>
**Demo Output**:  1 2 3 4 5

In [ ]:
n = int(input("Enter a Number: "))

for i in range(1, n+1):
  print(i , end=" ")

Enter a Number: 5
1 2 3 4 5

### 3. Check if a Number is Positive or Negative
**Task**: Determine if the input number is positive, negative, or zero.  
**Demo Input**: `-3`  
**Demo Output**: `The number is Negative`

In [ ]:
num = int(input("Enter a number: "))

if num>0:
  print("The Number is Positive")
elif num<0:
  print("The Number is Negative")
else:
  print("The Number is Zero")

Enter a number: -3
The Number is Negative

### 4. Calculate the Sum of Digits
**Task**: Given a number, find the sum of its digits.  
**Demo Input**: `123`  
**Demo Output**: `6`  
(Explanation: `1+2+3=6`)

In [ ]:
n = input("Enter a Number: ")

sum = 0
for i in n:
  sum += int(i)

print("The Sum of It's Digits is: ",sum)

Enter a Number: 6
The Sum of It's Digits is:  6

### 5. Find Factorial of a Number
**Task**: Calculate the factorial of a given number.  
**Demo Input**: `4`  
**Demo Output**: `24`  
(Explanation: `4! = 4*3*2*1 = 24`)

In [ ]:
num = int(input("Enter a Number: "))
factorial = 1
for i in range(1,num+1):
  factorial = factorial*i

print("Factorial=",factorial)

Enter a Number: 4
Factorial= 24

### 6. Count Occurrences of a Digit
**Task**: Count how many times a specific digit appears max in a number.  
**Demo Input**:  1233321 <br>
**Demo Output**: `3`  <br>
(Explanation: `3` appears 3 times in `1233321`)

In [ ]:
n = input("Enter a Number: ")

a = [0,0,0,0,0,0,0,0,0]

for i in n:
  a[int(i)] += 1

for i in a:
  if a[i]>a[i+1]:
    flag = a[i]
    num = i;

print(num,"appears",flag,"times.")

Enter a Number: 1233321
3 appears 3 times.

### 7. Find the GCD of Two Numbers
**Task**: Find the greatest common divisor (GCD) of two numbers.  
**Demo Input**: 8 and 12 <br>
**Demo Output**: `4`

In [ ]:
n = int(input("Enter 1st Number: "))
m = int(input("Enter 2nd Number: "))

gcd = 0

for i in range(1, min(m,n)+1):
  if n % i == 0 and m % i == 0:
            gcd = i

print("GCD is : ",gcd)

Enter 1st Number: 8
Enter 2nd Number: 12
GCD is :  4

### 8. Reverse a String
**Task**: Reverse the given string.  
**Demo Input**: `"aiquest"`  
**Demo Output**: `"tseuqia"`

In [ ]:
str = input("Enter a String: ")

print(str[::-1])

Enter a String: aiquest
tseuqia

In [ ]:
str = input("Enter a String: ")

n = len(str)
for i in range(n-1,-1,-1):
  print(str[i],end="")

Enter a String: aiquest
tseuqia

### 9. Check Armstrong Number
**Task**: Check if a number is an Armstrong number (the sum of its digits raised to the power of the number of digits equals the number).  
**Demo Input**: `153`  
**Demo Output**: `153 is an Armstrong Number`  
(Explanation: \(1^3 + 5^3 + 3^3 = 153\))

In [ ]:
n = input("Enter a Number: ")

len = len(n)
sum = 0
for i in n:
  sum += int(i)**len

if int(n) == sum:
  print(n, " is a Armstrong Number.")

Enter a Number: 153
153  is a Armstrong Number.

### 10. Generate a Pattern
**Task**: Print a pyramid pattern with `n` rows.  
**Demo input:** 4 <br>
**Output:** You will see the pyramid pattern with 4 rows

In [ ]:
n = int(input("Enter the Row Number: "))

for i in range(1,n+1):
  for j in range(i):
    print("*",end=" ")

  print(" ")

Enter the Row Number: 4
*
* *
* * *
* * * *

In [ ]:
n = int(input("Enter the Row Number: "))

for i in range(n,0,-1):
  for j in range(i):
    print("*",end=" ")

  print(" ")

Enter the Row Number: 4
* * * *
* * *
* *
*

# Good Luck!